.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: 'HomemadeApple';
  src: local('HomemadeApple'), url(./fonts/HomemadeApple-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jumbotron {
  text-align: center;
  padding: 50px;
}
.jumbotron h1 {
  font-family: Montserrat;
}
.jumbotron h3 {
  font-family: HomemadeApple;
}

.nav {
  background: cadetblue;
}
.navbar {
  font-family: Montserrat-Regular;
  text-align: center;
  margin-top: -30px;
}

.navbar li {
  text-align: center;
  padding-right: 30px;
  padding-left: 190px;
}

.slider {
  padding:10px;
  margin-top: 10px;
  margin-left: 250px;
}

.Card {
 text-align: center;
 margin: 0;
}
.card {
  font-family: HomemadeApple;
  text-align: center;
}

.designProcess {
  background-color: rgb(211, 207, 214);
  text-align: center;
  color: white;
  padding: 20px;
  font-family: Montserrat-Regular;
}

.frontImage {
  width: 100%;
}

.site-footer {
  background-color:  #d3cfd6;
  padding: 30px;
  
  width: 100%;
}
.footerlink {
  color: white;
  font-family: Montserrat-Regular;
}

.ProductRows {
  padding: 20px;
}
/* React Transition Group Styles */

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: 300ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}

.CartButton {
  position: absolute;
  top:10%;
  right: 0;
  width: 150px;
  transform: translateY(-50%);
}

.FadeItems {
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.Checkout {
  align-items: 'center';
  font-family: 'Montserrat-Regular';
  text-align: center;
  flex: 1;
  margin-top: 30;
}